#header {
    display: flex;
    align-items: center;
}
#search-container {
    margin-left: auto;
}
#body table.l-table {
    width: 100%;
    border-collapse: collapse;
}
#body table tr {
    border-top: var(--lani-border);
}
#body table tr:last-child {
    border-bottom: var(--lani-border);
}
#body table tr > td, #body table tr > th {
    border-left: var(--lani-border);
}
#body table tr > td:last-child, #body table tr > th:last-child {
    border-right: var(--lani-border);
}
#body table td, #body table th {
    padding: var(--lani-margin);
}