/*

    "Dialog" module

*/
:root, :host {

    --lani-dialog-background: rgba(30, 30, 30, 0.4);

    --lani-dialog-close-background: rgb(195, 45, 45);
    --lani-dialog-close-background-hover: rgb(240, 95, 95);
    --lani-close-font-size: 16px;
    --lani-close-foreground: white;

    --lani-dialog-close-size: 30px;
    --lani-dialog-title-button-size: 25px;
    --lani-dialog-title-button-font-size: 8px;
}

.l-dialog-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.l-dialog-status {
    display: flex;
    align-items: center;
    margin: var(--lani-margin);
}
.l-dialog-controls-container {
    margin-left: auto;
}
.l-dialog-title {
    margin: var(--lani-margin);
}

.l-dialog-close, .l-dialog-expand, .l-dialog-minimize {
    border: none;
    margin: 2px;
    border-radius: 50%;
}
.l-dialog-close {
    background: var(--lani-dialog-close-background);
    cursor: pointer;
    height: var(--lani-dialog-close-size);
    width: var(--lani-dialog-close-size);
    font-size: var(--lani-close-font-size);
    transition: background-color var(--lani-speed);
}
.l-dialog-close > lani-icon {
    color: var(--lani-close-foreground) !important;
}
.l-dialog-close:hover {
    background: var(--lani-dialog-close-background-hover);
}
.l-dialog-expand, .l-dialog-minimize {
    height: var(--lani-dialog-title-button-size);
    width: var(--lani-dialog-title-button-size);
    cursor: pointer;
    font-size: var(--lani-dialog-title-button-font-size);
}

.l-dialog-content {
    flex: 1;
    margin-top: 0px;
}

.l-dialog-buttons-container {
    margin-top: 0px;
}
.l-dialog-buttons-container > button:first-child {
    margin-left: 0px !important;
}
.l-dialog-buttons-container > button:first-child {
    margin-right: 0px !important;
}